name: Placement Tracker CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # ---------- BACKEND ----------
      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build Spring Boot backend
        working-directory: placementtracker
        run: mvn clean install -DskipTests

      # ---------- FRONTEND ----------
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install frontend dependencies
        working-directory: placement-frontend
        run: npm install

      - name: Build React frontend
        working-directory: placement-frontend
        run: npm run build
